/* # COLOR PALETTE 
rosa : #e4316f
grey: 
blue : #56b5d7
*/



/* Generic */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    color: black;
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

/* Utils */


.cointaner {
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}

p {
    text-align: center;
    font-size: large;
    color: #4e5661;
    margin-bottom: 4rem;
}

img {
    height: 150px;

}

a {
    color: #56b5d7;
}

/* Header */
h1 {
    color: #e4316f;
    text-align: center;
    padding: 2rem;
}

.column {
    width: calc(100% / 3);
    float: left;
    background-color: black;
    border: 10px white solid;
    height: 170px;
    color: white;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

img {
    float: left;
}



.card {


    background-color: rgb(139, 10, 10);
    border: 0;

    color: white;
}