/* # COLOR PALETTE 
rosa : #e4316f
grey: 
blue : #56b5d7
*/



/* Generic */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    color: black;
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

/* Utils */


.cointaner {
    max-width: 1200px;
    margin: 0 auto;

}

p {
    text-align: center;
    font-size: large;
    color: #4e5661;
    margin-bottom: 4rem;
}

img {
    height: 120px;
    float: left;
}



/* Header */
h1 {
    color: #e4316f;
    text-align: center;
    padding: 2rem;
}

/* Main */
.column {
    width: calc(100% / 3);
    float: left;
    background-color: black;
    border: 10px white solid;
    height: 140px;
    color: white;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* classe card */

h3 {
    padding: 3px;
    text-emphasis: none;
}

h6 {
    padding: 3px;
}

a {
    color: #56b5d7;
    text-decoration: none;
    font-size: small;
}

.card {

    width: calc(100% - 140px);
    float: right;
    border: 0;
    margin-right: 2px;
    margin-top: 20px;
    color: white;
}