/* # COLOR PALETTE 
rosa : #e4316f
*/



/* Generic */
* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
}

body {
    color: black;
    background-color: white;
    font-family: 'Fredoka', sans-serif;
}

/* Utils */


.cointaner {

    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid black;
}

/* Header */